@charset "UFT-br";
@font-face



{
    font-family: "android";
    src: url(idroid.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;

    
}

body{
    background-color: #84E1AD;
    margin: 0;
    padding: 0;
    
    
}

.cabeçalho h1, h2{
    text-align: center;
    
    color: white;
    
    
    
    
    
}

.cabeçalho{
    background-image: linear-gradient(#37C375, #1A5C38);
    border: none;
    
   


    
}

p{
    color: white;
}

.container h1{
    font-family: android;
    color: #1A5C38;
    text-align: left;
}

.container{
    background-color: white;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    
    

    
}
.container p{
    color: black;
    text-align: left;
    
}

.video{
    background-color: #1A5C38;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

.rodape{
    background-color: white;
    margin-left: 15%;
    margin-right: 15%;
}

.rodape h2{
    text-align: left;
    background-color: #2FA866;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
}

.rodape p{
    background-color: #C5EBD6;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
    color: black;

}

.lista{
    background-color: #C5EBD6;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
    color: black;
   
    

}
.itens{
    
    
    margin-left: 5%;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    
}


    


.final{
    background-color: white;
    color: black;
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
    

}

.final p{
    margin-left: 9%;
    margin-right: 5%;
}

.creditos{
    background-color: #1A5C38;
}








